.members_list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 25px;
    max-height: 200px;
    overflow: auto;
}

.members_list li {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 4px;
    border-bottom: solid 1px #343A40;
}

.button_kick_user {
    position: absolute;
    right: 0;
    height: 18px;
    width: auto;
    transform: rotate(45deg);
    cursor: pointer;
}