.button__out {
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    right: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    background-color: Transparent;
    font-size: 16px;
    font-weight: bold;
}
