.chat__wrap__header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #343A40;
}

.side__wrap,
.center__wrap {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #C4C4C4;
    font-size: 20px;
    font-weight: bold;
}

.side__wrap {
    min-width: content-box;
    width: calc((100% - 75%) / 2);
    justify-content: center;
}

.center__wrap {
    flex: 1;
    flex-basis: 1500px;
    max-width: 100%;
    justify-content: space-between;
}

.button__menu,
.button__options {
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: Transparent;
}

.button__options {
    /* Пока эта кнопка не работает*/
    opacity: 100;
}

.chat__logo,
.button__options__img {
    width: 35px;
    height: 35px;
}
