.input__my_input {
    height: 30px;
    display: flex;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 4px;
    background: #FFFFFF;
    border-bottom: solid 1px #343A40;
}

.input__my_input::placeholder {
    color: rgba(186, 186, 186, 1);
}