.message__area {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    background-color: #A09393;
    margin-bottom: 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px 20px 20px 0px;
}

.name {
    font-size: 20px;
    color: #343A40;
}

.message__date {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: #343A40;
}

.message__text {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    word-break: break-all;
}

